In [4]:
#creating a calculator

def calculator(a,b):
    print('The sum is: ', a+b)
    print('The subtraction is: ', a-b)
    print('The divide is: ', a/b)
    print('The multiplication is: ', a*b)
    print('The modulus is: ', a%b)
    print('The floor is: ', a//b)
calculator(a=30,b=5)

The sum is:  35
The subtraction is:  25
The divide is:  6.0
The multiplication is:  150
The modulus is:  0
The floor is:  6

In [8]:
a=int(input('Enter the first number: '))
b=int(input('Enter the second number: '))
print('The sum is: ',a+b)
print('The subtraction is: ', a-b)
print('The divide is: ', a/b)
print('The multiplication is: ', a*b)
print('The modulus is: ', a%b)
print('The floor is: ', a//b)

Enter the first number:  30
Enter the second number:  4

The sum is:  34
The subtraction is:  26
The divide is:  7.5
The multiplication is:  120
The modulus is:  2
The floor is:  7

In [9]:
name="my name is \" Mst Taposi Rabeya\" Jyoti"
print(name)

my name is " Mst Taposi Rabeya" Jyoti

In [15]:
data="!!!!!! Mst Taposi Rabeya !!!!!"
print(len(data))
print(data.upper())
print(data.lower())
print(data.rstrip("!"))
print(data.replace("Rabeya", "Tithi"))
data_2="information System to BE needed a Sofrware engineer"
print(data_2.capitalize())

30
!!!!!! MST TAPOSI RABEYA !!!!!
!!!!!! mst taposi rabeya !!!!!
!!!!!! Mst Taposi Rabeya
!!!!!! Mst Taposi Tithi !!!!!
Information system to be needed a sofrware engineer

In [2]:
##03/02/2024

In [6]:
#printing expression with escape sequence
print("Hello! This is \'Taposi Rabeya Jyoti\'")
print("Hi! This is the place \"Chuadanga\" where I was born")
print("""I am not satisfied with my "Coding Skill" so, I learn more and more coding""")

Hello! This is 'Taposi Rabeya Jyoti'
Hi! This is the place "Chuadanga" where I was born
 I am not satisfied with my "Coding Skill" so, I learn more and more coding

In [7]:
#getting input from the user
x=input("Write your name")
print(x)

Write your name Mst Taposi Rabeya

Mst Taposi Rabeya

In [9]:
#Input return always string
value1=input('Enter first number: ')
value2=input('Enter second number: ')
add=value1+value2
print(add)

Enter first number:  3
Enter second number:  5

35

In [10]:
#type casting, here convert string to value
value1=int(input('Enter first number: '))
value2=int(input('Enter second number: '))
add=value1+value2
print(add)

Enter first number:  3
Enter second number:  5

8

In [18]:
#Getting multiple input from the user
a,b,c,d,e=input().split()
print(a,b,c,d,e)
print(type(a))

 1 2 3 4 5

1 2 3 4 5
<class 'str'>

In [20]:
x=3+4j
y=5+6j
print(x+y)

(8+10j)

In [31]:
#defining a function
def func(a,b):
    c=a+b
    print(c)
def sqr(a):
    return (a**2)
func(5,10)
sq=sqr(4)

15

In [33]:
def func():
    print('I am python')#Secondly execute this line
print("Hello ! world")#first execute this line
func()
print('Do you love me')# third execute

Hello ! world
I am python
Do you love me

In [1]:
#global and local variable
a=10
b=21.34
def fun():
    global b
    print("Access the global variable a: ", a)
    print("Access the global variable b: ", b)
    b=20.26
    c=43
    print('The value of a is :',b)
    print('The value of b is :',c)
fun()
print("Access the global variable a: ",a)
print("Access the local variable b: ",b)

Access the global variable a:  10
Access the global variable b:  21.34
The value of a is : 20.26
The value of b is : 43
Access the global variable a:  10
Access the local variable b:  20.26

In [42]:
a = 10
b = 21.34

def fun():
    global b 
  # Declare b as global to modify it within the function
    print("Access the global variable a: ", a)
    print("Access the global variable b: ", b)
    b = 20.26
    c = 43
    print('The value of b is :', b)
    print('The value of c is :', c)

fun()
print("Access the global variable a: ", a)
print("Access the modified global variable b: ", b)

Access the global variable a:  10
Access the global variable b:  21.34
The value of b is : 20.26
The value of c is : 43
Access the global variable a:  10
Access the modified global variable b:  20.26

In [2]:
def greet(name, message="Hello"):
    print(f"{message}, {name}!")

greet("Alice")  # Output: Hello, Alice!
greet("Bob", "Hi")  # Output: Hi, Bob!

Hello, Alice!
Hi, Bob!

In [5]:
#factorial number in recursion
def factorial(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)
n=int(input("Enter a number: "))
print(n)
print("Factorial is: ",factorial(n))

Enter a number:  7

7
Factorial is:  5040

In [9]:
#fibonacci series in recursion
n = 10
num1 = 0
num2 = 1
next_number = num2  
count = 1
 
while count <= n:
    print(num1, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

0 1 1 2 3 5 8 13 21 34

In [10]:
n1=0
n2=1
n_num=n2
count=0
for i in range(10):
    count+=1
    n1=n2, n2=n_num, n_num=n1
    n_num=n1+n2
print(n1)

TypeError: cannot unpack non-iterable int object

In [12]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
for i in range(10):
        print(fibonacci(i), end=", ")

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,